.navbar{
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 30px;
    // width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    opacity: 0.5;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.3s;
}

.navbar ul li a:a:visited {
    opacity: 0.9;
}

.navbar ul li:hover::after{
    width: 105%;
}

