@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&family=Lobster&display=swap');

body, html {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-size: 16px;
    min-height: 100vh;
}